body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(0, 81, 255);
  color: #fff;
}

.leader-title {
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 0;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 10%;
  justify-content: space-around;
  padding: 5% 7%;
}

.table-ref,
.listElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.scores-table {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.scores-table-title {
  display: flex;
  flex-direction: row;
  gap: 10%;
  justify-content: space-between;
}

.scores-add {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.button-title {
  align-self: center;
}

.scores-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 0 15px 0;
  list-style: none;
  border: solid 2px black;
  background-color: rgba(17, 0, 255, 0.63);
  border-radius: 8px;
  margin-top: 10px 0 0 0;
  gap: 10px;
}

.flex1 {
  flex: 1;
  text-align: center;
}

.listElement,
.input {
  height: 30px;
  color: rgb(44, 44, 44);
  padding: 5px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 10px;
}

.btn {
  background-color: rgba(17, 0, 255, 0.63);
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 17px;
  padding: 8px 38px;
  text-decoration: none;
  text-shadow: rgb(0, 81, 255);
}

.btn:hover {
  background-color: rgba(17, 0, 255, 0.021);
}

.gray-bg {
  background-color: #a3a2a2;
}
